.PokeCard{
	text-align: center;
	width: 25%;
}

.PokeCard h3{
	font-size: 16px;
	margin-bottom: 15px;
}
.PokeCard .box-poke{
	margin: 15px;
	background-color: #fff;
    padding: 10px;
}
.PokeCard img{
    width: 120px;
    height: 120px;
}